.conversation-message {
    .avatar {
        flex-shrink: 0;
    }
    .conversation-message-container {
        width: 100%;
        max-width: 600px;
    }
    .conversation-message-content {
        background: #f1f1f1;
        &:before {
            content: "";
            border-width: 0 14px 12px 0;
            border-color: transparent #f1f1f1 transparent transparent;
            width: 0;
            height: 0;
            border-style: solid;
            position: absolute;
            top: 0;
            left: -12px;
        }
    }
    &.agent {
        .row {
            flex-direction: row-reverse;
        }
        .conversation-message-content {
            background: #f2eff4;
            &:before {
                content: "";
                border-width: 0 14px 12px 0;
                border-color: transparent #f2eff4 transparent transparent;
                width: 0;
                height: 0;
                border-style: solid;
                position: absolute;
                top: 0;
                left: -12px;
            }
        }
    }
    .conversation-message-meta {
        line-height: 18px;
    }
}
