.day-picker-input-overlay-wrapper {
    z-index: 10;
}

.day-picker-input-overlay {
    left: 0;
    z-index: 1;
    position: absolute;
}

.day-picker-wrapper {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex-direction: row;
    flex-direction: row;
    .day-picker-nav-bar {
        top: 15px;
        right: 1rem;
        .day-picker-nav-button {
            cursor: pointer;
            @include transition();
            &:hover {
                color: $grey;
            }
        }
    }
    .day-picker-months {
        .day-picker-month {
            border-collapse: collapse;
            border-spacing: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            .day-picker-caption {
                display: table-caption;
            }
            .day-picker-weekdays {
                display: table-header-group;
                .day-picker-weekday {
                    abbr[title] {
                        border-bottom: none;
                        text-decoration: none;
                        cursor: text;
                    }
                }
            }
            .day-picker-body {
                display: table-row-group;
                .day-picker-week {
                    .day-picker-day, 
                    .day-picker-week-number {
                        cursor: pointer;
                    }
                    .day-picker-day {
                        span {
                            display: block;
                            height: $picker-height;
                            width: $picker-height;
                            line-height: $picker-line-height;
                            border-radius: 5px;
                            @include transition();
                        }
                        &.day-picker-day--outside {
                            span {
                            cursor: default;
                            color: $grey-lighten-3;
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                        }
                        &.DayPicker-Day--selected {
                            span {
                                background-color: lighten($grey-lighten-5, 6%);
                                border-radius: 0;
                                &:hover {
                                    background-color: lighten($grey-lighten-5, 6%);
                                }
                            }
                        }
                        &.DayPicker-Day--start {
                            span {
                                border-radius: 5px 0 0 5px;
                            }
                        }
                        &.DayPicker-Day--end {
                            span {
                                border-radius: 0 5px 5px 0;
                            }
                        }
                        &.day-picker-day--today,
                        &.DayPicker-Day--start,
                        &.DayPicker-Day--end,
                        &:hover {
                            span {
                                background-color: $grey-lighten-5;
                            }
                        }
                    }
                }
            }
        }
    }
    .day-picker-footer {
        .day-picker-today-button {
            @include transition();
            &:hover {
                color: $link-hover-color;
            }
        }
    }
}

.time-picker-body {
    > div {
        max-height: 300px;
        overflow: scroll;
        ul li {
            padding: 4px 0;
            &:hover,
            &.active {
                background-color: $grey-lighten-5;
                cursor: pointer;
            }
        }
    }
    .time-label {
        top: 0;
    }
}

.time-picker-container {
    button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.form-dob-picker {
    .picker-nav-bar {
        right: 1rem;
    }
    .dob-picker-body {
        height: 196px;
        overflow: scroll;
        .dob-picker-date {
            width: 14.285714285714286%;
            span {
                display: block;
                border-radius: 5px;
                height: $picker-height;
                line-height: $picker-line-height;
                cursor: pointer;
                @include transition();
                &:hover {
                    background-color: $grey-lighten-5;
                }
            }
        }
        .dob-picker-day {
            span {
                width: 36px;
            }
            .disabled {
                span {
                    cursor: not-allowed;
                    color: $grey-lighten-3;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
        .dob-picker-month {
            .dob-picker-date {
                width: 33.333333333333333%;
            }
        }
        .dob-picker-year {
            .dob-picker-date {
                width: 16.666666666666667%;
            }
        }
    }
}
