.select-value {
    &:not(:first-of-type) {
        position: relative;
        margin-left: 32px;
        &:before {
            content: "OR";
            background: $primary;
            position: absolute;
            bottom: 0;
            left: -30px;
            color: #fff;
            border-radius: 50%;
            line-height: 25px;
            height: 24px;
            width: 24px;
            font-size: 9px;
            font-weight: 800;
            text-align: center;
        }
    }
    .select-value-icon {
        margin-right: 5px
    }
}

.chosen-container {
    .chosen-single {
        input {
            &:focus {
                box-shadow: none;
            }
        }
    }
    .dropdown-menu {
        top: -2px !important;
        margin: 0;
        width: 100%;
        border-color: $input-focus-border-color;
        &:before {
            display: none;
        }
    }
    .chosen-results {
        li {
            cursor: pointer;
            @include transition();
            &:hover,
            &.result-selected {
                background-color: $grey-lighten-5;
            }
        }
    }
}