<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gecko Engage Design System</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6a3bfb092.js"></script>

    <link rel="stylesheet" href="../css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">

  </head>

  <body class="body-grid">

    <div class="sidebar">

      <div class="header sidebar-header position-fixed p-2 d-flex justify-content-start bg-slate-darken-1">
        <div class="logo-container">
          <a href="../index.html"><img src="../img/gecko-styles.svg" style="width: 142px;"></a>
        </div>
      </div>

      <div class="sidebar-body position-relative">

        <ul class="main-nav list-unstyled mb-0 position-fixed bg-slate-darken-1">
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="../brand-guidelines/logos.html" data-toggle="tooltip" data-placement="right" title="Brand Guidelines">
                <span class="fal fa-palette" title="Brand Guidelines" aria-hidden="true"></span>
                <span class="sr-only">Brand Guidelines</span>
              </a>
            </li>
            <li class="active">
              <a class="link-light p-2 font-size-large border-left-transparent" href="../components/alerts.html" data-toggle="tooltip" data-placement="right" title="Components">
                <span class="fal fa-browser" title="Components" aria-hidden="true"></span>
                <span class="sr-only">Components</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="" data-toggle="tooltip" data-placement="right" title="Utilities">
                <span class="fal fa-wrench" title="Utilities" aria-hidden="true"></span>
                <span class="sr-only">Utilities</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large" href="" data-toggle="tooltip" data-placement="right" title="Download Sketch File">
                <span class="fal fa-download" title="Download Sketch File" aria-hidden="true"></span>
                <span class="sr-only">Download Sketch File</span>
              </a>
            </li>
        </ul>

        <div class="nav-container">

          <div class="nav-container-inner p-3">

            <span class="pb-1 mb-2 font-style-uppercase font-size-smaller font-weight-medium">Components</span>
            <ul class="list-unstyled m-0">
              <li><a class="link-light pb-1 mb-1" href="alerts.html">Alerts</a></li>
              <li><a class="link-light pb-1 mb-1" href="avatars.html">Avatars</a></li>
              <li><a class="link-light pb-1 mb-1" href="badges.html">Badges</a></li>
              <li><a class="link-light pb-1 mb-1" href="breadcrumbs.html">Breadcrumbs</a></li>
              <li><a class="link-light pb-1 mb-1" href="buttons.html">Buttons</a></li>
              <li><a class="link-light pb-1 mb-1" href="cards.html">Cards</a></li>
              <li><a class="link-light pb-1 mb-1" href="chatbubble.html">Chat Bubble</a></li>
              <li><a class="link-light pb-1 mb-1" href="collapse.html">Collapse</a></li>
              <li><a class="link-light pb-1 mb-1" href="dropdown.html">Dropdown</a></li>
              <li><a class="link-light pb-1 mb-1" href="forms.html">Forms</a></li>
              <li><a class="link-light pb-1 mb-1" href="modal.html">Modal</a></li>
              <li><a class="link-light pb-1 mb-1" href="pagination.html">Pagination</a></li>
              <li><a class="link-light pb-1 mb-1" href="pickers.html">Pickers</a></li>
              <li><a class="link-light pb-1 mb-1" href="popover.html">Popover</a></li>
              <li><a class="link-light pb-1 mb-1" href="progress-bar.html">Progress Bar</a></li>
              <li><a class="link-light pb-1 mb-1" href="select.html">Select</a></li>
              <li><a class="link-light pb-1 mb-1" href="spinner.html">Spinner</a></li>
              <li><a class="link-light pb-1 mb-1" href="table.html">Table</a></li>
              <li><a class="link-light pb-1 mb-1" href="tabs.html">Tabs</a></li>
              <li><a class="link-light pb-1 mb-1" href="texteditor.html">Text Editor</a></li>
              <li><a class="link-light pb-1 mb-1" href="toasts.html">Toasts</a></li>
              <li><a class="link-light pb-1 mb-1" href="toggle.html">Toggle</a></li>
              <li><a class="link-light pb-1 mb-1" href="tooltips.html">Tooltips</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="content position-relative">

      <div class="header content-header py-2 px-4 d-flex align-items-center bg-white border-bottom">
        <div class="main-heading">
          <span class="fal fa-browser mr-1 float-left font-size-larger color-lime" aria-hidden="true"></span> <span class="font-style-uppercase font-size-smaller font-weight-bold float-left">Alerts</span>
        </div>
      </div>

      <div class="content-body p-4 bg-ice">

        <div class="content-body-inner row no-gutters p-4 bg-white">

          <div class="content-body-container col-9 pr-4">

            <section class="mb-5">

              <h2 id="alerts-standard">Standard Alerts</h2>

              <h3>Success</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-success bg-green-lighten-4 rounded border border-color-green-darken-3 color-green-text font-weight-medium p-3 mb-5" role="alert">
                <span>This is an alert that displays a positive message.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-success bg-green-lighten-4 rounded border border-color-green-darken-3 color-green-text font-weight-medium p-3 mb-5" role="alert">
  <span>This is an alert that displays a positive message.</span>
</div>
</code></pre>
</figure>

              <h3>Info</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-info bg-blue-lighten-4 rounded border border-color-blue-darken-3 color-blue-text font-weight-medium p-3 mb-5" role="alert">
                <span>This is an alert that displays a prompt or information.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-info bg-blue-lighten-4 rounded border border-color-blue-darken-3 color-blue-text font-weight-medium p-3 mb-5" role="alert">
  <span>This is an alert that displays a positive message.</span>
</div>
</code></pre>
</figure>

              <h3>Warning</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-info bg-orange-lighten-4 rounded border border-color-orange-text color-orange-text font-weight-medium p-3 mb-5" role="alert">
                <span>This is an alert that displays a warning message.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-info bg-orange-lighten-4 rounded border border-color-orange-text color-orange-text font-weight-medium p-3 mb-5" role="alert">
  <span>This is an alert that displays a positive message.</span>
</div>
</code></pre>
</figure>

              <h3>Error</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-info bg-red-lighten-4 rounded border border-color-red-darken-3 color-red-text font-weight-medium p-3 mb-5" role="alert">
                <span>This is an alert that displays an error message.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-info bg-red-lighten-4 rounded border border-color-red-darken-3 color-red-text font-weight-medium p-3 mb-5" role="alert">
  <span>This is an alert that displays a positive message.</span>
</div>
</code></pre>
</figure>

            </section>

            <section class="mb-5">

              <h2 id="alerts-with-icons">Alerts with Icons</h2>

              <h3>Success</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-success bg-green-lighten-4 rounded border border-color-green-darken-3 color-green-text font-weight-medium p-3 mb-5" role="alert">
                <span><span class="far fa-check-square color-green-text mr-1" aria-hidden="true"></span> This is an alert that displays a positive message.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-success bg-green-lighten-4 rounded border border-color-green-darken-3 color-green-text font-weight-medium p-3 mb-5" role="alert">
  <span><span class="far fa-check-square color-green-text mr-1" aria-hidden="true"></span> This is an alert that displays a positive message.</span>
</div>
</code></pre>
</figure>

              <h3>Info</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-info bg-blue-lighten-4 rounded border border-color-blue-darken-3 color-blue-text font-weight-medium p-3 mb-5" role="alert">
                <span><span class="far fa-info-square color-blue-text mr-1" aria-hidden="true"></span> This is an alert that displays a prompt or information.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-info bg-blue-lighten-4 rounded border border-color-blue-darken-3 color-blue-text font-weight-medium p-3 mb-5" role="alert">
  <span><span class="far fa-info-square color-blue-text mr-1" aria-hidden="true"></span> This is an alert that displays a prompt or information.</span>
</div>
</code></pre>
</figure>

              <h3>Warning</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-info bg-orange-lighten-4 rounded border border-color-orange-text color-orange-text font-weight-medium p-3 mb-5" role="alert">
                <span><span class="far fa-exclamation-square color-orange-text mr-1" aria-hidden="true"></span> This is an alert that displays a warning message.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-info bg-orange-lighten-4 rounded border border-color-orange-text color-orange-text font-weight-medium p-3 mb-5" role="alert">
  <span><span class="far fa-exclamation-square color-orange-text mr-1" aria-hidden="true"></span> This is an alert that displays a warning message.</span>
</div>
</code></pre>
</figure>

              <h3>Error</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-info bg-red-lighten-4 rounded border border-color-red-darken-3 color-red-text font-weight-medium p-3 mb-5" role="alert">
                <span><span class="far fa-times-square color-red-text mr-1" aria-hidden="true"></span> This is an alert that displays an error message.</span>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-info bg-red-lighten-4 border border-color-red-darken-3 color-red-text font-weight-medium p-3 mb-5" role="alert">
  <span><span class="far fa-times-square color-red-text mr-1" aria-hidden="true"></span> This is an alert that displays an error message.</span>
</div>
</code></pre>
</figure>

            </section>

            <section>

              <h2 id="alerts-dismiss">Dismissable Alerts</h2>

              <h3>Success</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="alert alert-success alert-dismissible bg-green-lighten-4 rounded border border-color-green-darken-3 color-green-text font-weight-medium position-relative py-3 pl-3 pr-5 mb-5 fade show" role="alert">
                <span>This is an alert that displays a positive message.</span>
                <button type="button" class="close position-absolute p-3" data-dismiss="alert" aria-label="Close">
                  <span class="fal fa-times" aria-hidden="true"></span>
                  <span class="sr-only">Close alert</span>
                </button>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5">
<pre><code data-language="html"><div class="alert alert-success alert-dismissible bg-green-lighten-4 rounded border border-color-green-darken-3 color-green-text font-weight-medium position-relative py-2 pl-2 pr-5 mb-5 fade show" role="alert">
  <span>This is an alert that displays a positive message.</span>
  <button type="button" class="close position-absolute p-3" data-dismiss="alert" aria-label="Close">
    <span class="fal fa-times" aria-hidden="true"></span>
    <span class="sr-only">Close alert</span>
  </button>
</div>
</code></pre>
</figure>

            </section>

          </div>

          <div class="content-sub-nav sticky-top col-3 pl-4 border-left">
            <h4 class="mb-2">Sections</h4>
            <ul class="list-unstyled">
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#alerts-standard">Standard Alerts</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#alerts-with-icons">Alerts with Icons</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#alerts-dismiss">Dismissable Alerts</a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/code.min.js" ></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip()
        $('.alert').alert()
    </script>

  </body>

</html>