<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gecko Engage Design System</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6a3bfb092.js"></script>

    <link rel="stylesheet" href="../css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">

  </head>

  <body class="body-grid">

    <div class="sidebar">

      <div class="header sidebar-header position-fixed p-2 d-flex justify-content-start bg-slate-darken-1">
        <div class="logo-container">
          <a href="../index.html"><img src="../img/gecko-styles.svg" style="width: 142px;"></a>
        </div>
      </div>

      <div class="sidebar-body position-relative">

        <ul class="main-nav list-unstyled mb-0 position-fixed bg-slate-darken-1">
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="../brand-guidelines/logos.html" data-toggle="tooltip" data-placement="right" title="Brand Guidelines">
                <span class="fal fa-palette" title="Brand Guidelines" aria-hidden="true"></span>
                <span class="sr-only">Brand Guidelines</span>
              </a>
            </li>
            <li class="active">
              <a class="link-light p-2 font-size-large border-left-transparent" href="../components/alerts.html" data-toggle="tooltip" data-placement="right" title="Components">
                <span class="fal fa-browser" title="Components" aria-hidden="true"></span>
                <span class="sr-only">Components</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="" data-toggle="tooltip" data-placement="right" title="Utilities">
                <span class="fal fa-wrench" title="Utilities" aria-hidden="true"></span>
                <span class="sr-only">Utilities</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large" href="" data-toggle="tooltip" data-placement="right" title="Download Sketch File">
                <span class="fal fa-download" title="Download Sketch File" aria-hidden="true"></span>
                <span class="sr-only">Download Sketch File</span>
              </a>
            </li>
        </ul>

        <div class="nav-container">

          <div class="nav-container-inner p-3">

            <span class="pb-1 mb-2 font-style-uppercase font-size-smaller font-weight-medium">Components</span>
            <ul class="list-unstyled m-0">
              <li><a class="link-light pb-1 mb-1" href="alerts.html">Alerts</a></li>
              <li><a class="link-light pb-1 mb-1" href="avatars.html">Avatars</a></li>
              <li><a class="link-light pb-1 mb-1" href="badges.html">Badges</a></li>
              <li><a class="link-light pb-1 mb-1" href="breadcrumbs.html">Breadcrumbs</a></li>
              <li><a class="link-light pb-1 mb-1" href="buttons.html">Buttons</a></li>
              <li><a class="link-light pb-1 mb-1" href="cards.html">Cards</a></li>
              <li><a class="link-light pb-1 mb-1" href="chatbubble.html">Chat Bubble</a></li>
              <li><a class="link-light pb-1 mb-1" href="collapse.html">Collapse</a></li>
              <li><a class="link-light pb-1 mb-1" href="dropdown.html">Dropdown</a></li>
              <li><a class="link-light pb-1 mb-1" href="forms.html">Forms</a></li>
              <li><a class="link-light pb-1 mb-1" href="modal.html">Modal</a></li>
              <li><a class="link-light pb-1 mb-1" href="pagination.html">Pagination</a></li>
              <li><a class="link-light pb-1 mb-1" href="pickers.html">Pickers</a></li>
              <li><a class="link-light pb-1 mb-1" href="popover.html">Popover</a></li>
              <li><a class="link-light pb-1 mb-1" href="progress-bar.html">Progress Bar</a></li>
              <li><a class="link-light pb-1 mb-1" href="select.html">Select</a></li>
              <li><a class="link-light pb-1 mb-1" href="spinner.html">Spinner</a></li>
              <li><a class="link-light pb-1 mb-1" href="table.html">Table</a></li>
              <li><a class="link-light pb-1 mb-1" href="tabs.html">Tabs</a></li>
              <li><a class="link-light pb-1 mb-1" href="texteditor.html">Text Editor</a></li>
              <li><a class="link-light pb-1 mb-1" href="toasts.html">Toasts</a></li>
              <li><a class="link-light pb-1 mb-1" href="toggle.html">Toggle</a></li>
              <li><a class="link-light pb-1 mb-1" href="tooltips.html">Tooltips</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="content position-relative">

      <div class="header content-header py-2 px-4 d-flex align-items-center bg-white border-bottom">
        <div class="main-heading">
          <span class="fal fa-browser mr-1 float-left font-size-larger color-lime" aria-hidden="true"></span> <span class="font-style-uppercase font-size-smaller font-weight-bold float-left">Badges</span>
        </div>
      </div>

      <div class="content-body p-4 bg-ice">

        <div class="content-body-inner row no-gutters p-4 bg-white">

          <div class="content-body-container col-9 pr-4">

            <section class="mb-5">

              <h2 id="badge-usage">Useage</h2>

              <p>Badges can be used in a variety of ways - namely when creating tags within the product or when using the multi-select function. They can also be used alongside headings to convey a new/beta feature.</p>

            </section>

            <section class="mb-5">

              <h2 id="badge-about">About Badges</h2>

              <p>By default, badges are grey. They can also be coloured depending on the requirements of the badge.</p>

              <span class="badge badge-grey-lighten-5">Default badge</span>

            </section>

            <section class="mb-5">

              <h2 id="badge-colours">Colours</h2>

              <p>By default, badges are grey. They can also be coloured depending on the requirements of the badge.</p>

              <span class="badge badge-grey-lighten-5">Default</span>
              <span class="badge badge-dark-blue">Primary</span>
              <span class="badge badge-orange-darken-1">Warning</span>
              <span class="badge badge-red-darken-1">Error</span>
              <span class="badge badge-green-darken-3">Success</span>
              <span class="badge badge-blue">Info</span>

            </section>

            <section class="mb-5">

              <h2 id="badge-dismissable">Dismissable Badge</h2>

              <p>A dismissable badge would be used when the user wishes to remove a badge. For example, removing a tag or removing an option from a multi-select.</p>

              <a href="" class="badge badge-dismissable select-value badge-grey-lighten-5"><span class="select-value-icon far fa-times"></span> Dismissable</a>

            </section>

            <section class="mb-5">

                <h2 id="badge-filter-tag">Filter Tags</h2>
  
                <p>When filtering, badges are used to display each chosen option. An AND/OR option is then shown if two or more are chosen.</p>
  
                <a href="" class="badge badge-dismissable select-value badge-grey-lighten-5"><span class="select-value-icon far fa-times"></span> Filter Option One</a>
                <a href="" class="badge badge-dismissable select-value badge-grey-lighten-5"><span class="select-value-icon far fa-times"></span> Filter Option Two</a>
                <a href="" class="badge badge-dismissable select-value badge-grey-lighten-5"><span class="select-value-icon far fa-times"></span> Filter Option Three</a>
  
              </section>

              <section class="mb-5">

                <h2 id="badge-headings">Headings</h2>
  
                <p>Badges scale to match the size of the immediate parent element by using relative font sizing and em units.</p>
  
                <h1 class="mb-3">Example heading <span class="badge badge-dark-blue">New</span></h1>
                <h2 class="mb-3">Example heading <span class="badge badge-dark-blue">New</span></h2>
                <h3 class="mb-3">Example heading <span class="badge badge-dark-blue">New</span></h3>
                <h4 class="mb-3">Example heading <span class="badge badge-dark-blue">New</span></h4>
                <h5 class="mb-3">Example heading <span class="badge badge-dark-blue">New</span></h5>
                <h6 class="mb-3">Example heading <span class="badge badge-dark-blue">New</span></h6>
  
              </section>

          </div>

          <div class="content-sub-nav sticky-top col-3 pl-4 border-left">
            <h4 class="mb-2">Sections</h4>
            <ul class="list-unstyled">
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#badge-about">About Badges</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#badge-default">Default Badge</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#badge-colours">Colours</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#badge-dismissable">Dismissable Badge</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#badge-filter-tag">Filter Tags</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#badge-headings">Headings</a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

  </body>

</html>