<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gecko Engage Design System</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6a3bfb092.js"></script>

    <link rel="stylesheet" href="../css/app.css">

  </head>

  <body class="body-grid">

    <div class="sidebar">

      <div class="header sidebar-header position-fixed p-2 d-flex justify-content-start bg-slate-darken-1">
        <div class="logo-container">
          <a href="../index.html"><img src="../img/gecko-styles.svg" style="width: 142px;"></a>
        </div>
      </div>

      <div class="sidebar-body position-relative">

        <ul class="main-nav list-unstyled mb-0 position-fixed bg-slate-darken-1">
            <li><a class="link-light p-2 font-size-large border-left-transparent" href="../brand-guidelines/logos.html" data-toggle="tooltip" data-placement="right" title="Brand Guidelines"><span class="fal fa-palette"></span></a></li>
            <li class="active"><a class="link-light p-2 font-size-large border-left-transparent" href="../components/alerts.html" data-toggle="tooltip" data-placement="right" title="Components"><span class="fal fa-browser"></span></a></li>
            <li><a class="link-light p-2 font-size-large border-left-transparent" href="" data-toggle="tooltip" data-placement="right" title="Utilities"><span class="fal fa-wrench"></span></a></li>
            <li><a class="link-light p-2 font-size-large" href="" data-toggle="tooltip" data-placement="right" title="Download Sketch File"><span class="fal fa-download"></span></a></li>
        </ul>

        <div class="nav-container">

          <div class="nav-container-inner p-3">

            <span class="pb-1 mb-2 font-style-uppercase font-size-smaller font-weight-medium">Components</span>
            <ul class="list-unstyled m-0">
              <li><a class="link-light pb-1 mb-1" href="alerts.html">Alerts</a></li>
              <li><a class="link-light pb-1 mb-1" href="avatars.html">Avatars</a></li>
              <li><a class="link-light pb-1 mb-1" href="badges.html">Badges</a></li>
              <li><a class="link-light pb-1 mb-1" href="breadcrumbs.html">Breadcrumbs</a></li>
              <li><a class="link-light pb-1 mb-1" href="buttons.html">Buttons</a></li>
              <li><a class="link-light pb-1 mb-1" href="cards.html">Cards</a></li>
              <li><a class="link-light pb-1 mb-1" href="carousel.html">Carousel</a></li>
              <li><a class="link-light pb-1 mb-1" href="chatbubble.html">Chat Bubble</a></li>
              <li><a class="link-light pb-1 mb-1" href="collapse.html">Collapse</a></li>
              <li><a class="link-light pb-1 mb-1" href="dropdown.html">Dropdown</a></li>
              <li><a class="link-light pb-1 mb-1" href="forms.html">Forms</a></li>
              <li><a class="link-light pb-1 mb-1" href="modal.html">Modal</a></li>
              <li><a class="link-light pb-1 mb-1" href="pagination.html">Pagination</a></li>
              <li><a class="link-light pb-1 mb-1" href="pickers.html">Pickers</a></li>
              <li><a class="link-light pb-1 mb-1" href="popover.html">Popover</a></li>
              <li><a class="link-light pb-1 mb-1" href="progress-bar.html">Progress Bar</a></li>
              <li><a class="link-light pb-1 mb-1" href="select.html">Select</a></li>
              <li><a class="link-light pb-1 mb-1" href="spinner.html">Spinner</a></li>
              <li><a class="link-light pb-1 mb-1" href="table.html">Table</a></li>
              <li><a class="link-light pb-1 mb-1" href="tabs.html">Tabs</a></li>
              <li><a class="link-light pb-1 mb-1" href="texteditor.html">Text Editor</a></li>
              <li><a class="link-light pb-1 mb-1" href="toasts.html">Toasts</a></li>
              <li><a class="link-light pb-1 mb-1" href="toggle.html">Toggle</a></li>
              <li><a class="link-light pb-1 mb-1" href="tooltips.html">Tooltips</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="content position-relative">

      <div class="header content-header py-2 px-4 d-flex align-items-center bg-white border-bottom">
        <div class="main-heading">
          <span class="fal fa-browser mr-1 float-left font-size-larger color-lime"></span> <span class="font-style-uppercase font-size-smaller font-weight-bold float-left">Chat Bubble</span>
        </div>
      </div>

      <div class="content-body p-4 bg-ice">

        <div class="content-body-inner row no-gutters p-4 bg-white">

          <div class="content-body-container col-9 pr-4">

            <section class="mb-5">

              <h2 id="chatbubble-markup">Markup</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="conversation-message mb-3">
                <div class="row">
                  <div class="conversation-message-avatar pl-2 pr-0">
                    <div class="avatar avatar-md position-relative">
                      <img class="rounded-circle img-fluid" src="../img/avatar.jpg" />
                    </div>
                  </div>
                  <div class="conversation-message-container col-9">
                    <div class="conversation-message-wrapper d-flex justify-content-start align-items-end">
                      <div class="conversation-message-content p-2 m-0 rounded font-size-smaller position-relative d-inline-block">
                        <span class="message-content">
                          Thanks Marty. The Student Services team have been notified and will get back to you on <a target="" href="mailto:marty@geckoengage.com">marty@geckoengage.com</a> in due course. Feel free to ask any other questions in the meantime!
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="conversation-message-meta color-grey mt-1 font-size-smallest">
                          Sent via<span> Live-Chat | https://gecko.fm/kfflx</span> - 28/10/2019 14:46 -  <i title="This message has been read" class="far fa-envelope-open text-green-darken-3"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="conversation-message mb-3">
  <div class="row">
    <div class="conversation-message-avatar pl-2 pr-0">
      <div class="avatar avatar-md position-relative">
        <img class="rounded-circle img-fluid" src="..." />
      </div>
    </div>
    <div class="conversation-message-container col-9">
      <div class="conversation-message-wrapper d-flex justify-content-start align-items-end">
        <div class="conversation-message-content p-2 m-0 rounded font-size-smaller position-relative d-inline-block">
          <span class="message-content">
            ...
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="conversation-message-meta color-grey mt-1 font-size-smallest">
            Sent via<span> ...</span> - 00/00/0000 00:00 -  <i title="..." class="far fa-envelope-open text-green-darken-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</code></pre>
</figure>

            </section>

            <section class="mb-5">

              <h2 id="chatbubble-alignment">Alignment</h2>

              <h3>Left Aligned</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="conversation-message mb-3">
                <div class="row">
                  <div class="conversation-message-avatar pl-2 pr-0">
                    <div class="avatar avatar-md position-relative">
                      <img class="rounded-circle img-fluid" src="../img/avatar.jpg" />
                    </div>
                  </div>
                  <div class="conversation-message-container col-9">
                    <div class="conversation-message-wrapper d-flex justify-content-start align-items-end">
                      <div class="conversation-message-content p-2 m-0 rounded font-size-smaller position-relative d-inline-block">
                        <span class="message-content">
                          Thanks Marty. The Student Services team have been notified and will get back to you on <a target="" href="mailto:marty@geckoengage.com">marty@geckoengage.com</a> in due course. Feel free to ask any other questions in the meantime!
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="conversation-message-meta color-grey mt-1 font-size-smallest">
                          Sent via<span> Live-Chat | https://gecko.fm/kfflx</span> - 28/10/2019 14:46 -  <i title="This message has been read" class="far fa-envelope-open text-green-darken-3"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="conversation-message mb-3">
  <div class="row">
    <div class="conversation-message-avatar pl-2 pr-0">
      <div class="avatar avatar-md position-relative">
        <img class="rounded-circle img-fluid" src="..." />
      </div>
    </div>
    <div class="conversation-message-container col-9">
      <div class="conversation-message-wrapper d-flex justify-content-start align-items-end">
        <div class="conversation-message-content p-2 m-0 rounded font-size-smaller position-relative d-inline-block">
          <span class="message-content">
            ...
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="conversation-message-meta color-grey mt-1 font-size-smallest">
            Sent via<span> ...</span> - 00/00/0000 00:00 -  <i title="..." class="far fa-envelope-open text-green-darken-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</code></pre>
</figure>

              <h3>Right Aligned</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <div class="conversation-message agent mb-3">
                <div class="row">
                  <div class="conversation-message-avatar pr-2 pl-0">
                    <div class="avatar avatar-md position-relative">
                      <img class="rounded-circle img-fluid" src="../img/avatar.jpg" />
                    </div>
                  </div>
                  <div class="conversation-message-container col-9">
                    <div class="conversation-message-wrapper d-flex justify-content-start align-items-end">
                      <div class="conversation-message-content p-2 m-0 rounded font-size-smaller position-relative d-inline-block">
                        <span class="message-content">
                          Thanks Marty. The Student Services team have been notified and will get back to you on <a target="" href="mailto:marty@geckoengage.com">marty@geckoengage.com</a> in due course. Feel free to ask any other questions in the meantime!
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="conversation-message-meta color-grey mt-1 font-size-smallest">
                          Sent via<span> Live-Chat | https://gecko.fm/kfflx</span> - 28/10/2019 14:46 -  <i title="This message has been read" class="far fa-envelope-open text-green-darken-3"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="conversation-message agent mb-3">
  <div class="row">
    <div class="conversation-message-avatar pl-2 pr-0">
      <div class="avatar avatar-md position-relative">
        <img class="rounded-circle img-fluid" src="..." />
      </div>
    </div>
    <div class="conversation-message-container col-9">
      <div class="conversation-message-wrapper d-flex justify-content-start align-items-end">
        <div class="conversation-message-content p-2 m-0 rounded font-size-smaller position-relative d-inline-block">
          <span class="message-content">
            ...
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="conversation-message-meta color-grey mt-1 font-size-smallest">
            Sent via<span> ...</span> - 00/00/0000 00:00 -  <i title="..." class="far fa-envelope-open text-green-darken-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</code></pre>
</figure>

            </section>

            <section class="mb-5">

              <h2 id="chatbubble-status-icons">Status Icons</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <h3>Icons</h3>

              <table class="table mb-5">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Icon</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Sending</td>
                    <td><span class="far fa-spinner"></span></td>
                  </tr>
                  <tr>
                    <td>Sent</td>
                    <td><span class="far fa-paper-plane"></span></td>
                  </tr>
                  <tr>
                    <td>Delivered</td>
                    <td><span class="far fa-envelope"></span></td>
                  </tr>
                  <tr>
                    <td>Received</td>
                    <td><span class="far fa-envelope"></span></td>
                  </tr>
                  <tr>
                    <td>Read</td>
                    <td><span class="far fa-envelope-open"></span></td>
                  </tr>
                  <tr>
                    <td>Failed</td>
                    <td><span class="far fa-exclamation-triangle"></span></td>
                  </tr>
                </tbody>
              </table>

              <h3>Icon Colour</h3>

              <table class="table">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Colour</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Error</td>
                    <td><span class="text-red-darken-3">Red</span></td>
                  </tr>
                  <tr>
                    <td>Pending</td>
                    <td><span class="text-grey">Grey</span></td>
                  </tr>
                  <tr>
                    <td>Success</td>
                    <td><span class="text-green-darken-3">Green</span></td>
                  </tr>
                </tbody>
              </table>

            </section>

          </div>

          <div class="content-sub-nav sticky-top col-3 pl-4 border-left">
            <h4 class="mb-2">Sections</h4>
            <ul class="list-unstyled">
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#chatbubble-markup">Markup</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#chatbubble-alignment">Alignment</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#chatbubble-status-icons">Status Icons</a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/code.min.js" ></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

  </body>

</html>