<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gecko Engage Design System</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6a3bfb092.js"></script>

    <link rel="stylesheet" href="../css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">

  </head>

  <body class="body-grid">

    <div class="sidebar">

      <div class="header sidebar-header position-fixed p-2 d-flex justify-content-start bg-slate-darken-1">
        <div class="logo-container">
          <a href="../index.html"><img src="../img/gecko-styles.svg" style="width: 142px;"></a>
        </div>
      </div>

      <div class="sidebar-body position-relative">

        <ul class="main-nav list-unstyled mb-0 position-fixed bg-slate-darken-1">
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="../brand-guidelines/logos.html" data-toggle="tooltip" data-placement="right" title="Brand Guidelines">
                <span class="fal fa-palette" title="Brand Guidelines" aria-hidden="true"></span>
                <span class="sr-only">Brand Guidelines</span>
              </a>
            </li>
            <li class="active">
              <a class="link-light p-2 font-size-large border-left-transparent" href="../components/alerts.html" data-toggle="tooltip" data-placement="right" title="Components">
                <span class="fal fa-browser" title="Components" aria-hidden="true"></span>
                <span class="sr-only">Components</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="" data-toggle="tooltip" data-placement="right" title="Utilities">
                <span class="fal fa-wrench" title="Utilities" aria-hidden="true"></span>
                <span class="sr-only">Utilities</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large" href="" data-toggle="tooltip" data-placement="right" title="Download Sketch File">
                <span class="fal fa-download" title="Download Sketch File" aria-hidden="true"></span>
                <span class="sr-only">Download Sketch File</span>
              </a>
            </li>
        </ul>

        <div class="nav-container">

          <div class="nav-container-inner p-3">

            <span class="pb-1 mb-2 font-style-uppercase font-size-smaller font-weight-medium">Components</span>
            <ul class="list-unstyled m-0">
              <li><a class="link-light pb-1 mb-1" href="alerts.html">Alerts</a></li>
              <li><a class="link-light pb-1 mb-1" href="avatars.html">Avatars</a></li>
              <li><a class="link-light pb-1 mb-1" href="badges.html">Badges</a></li>
              <li><a class="link-light pb-1 mb-1" href="breadcrumbs.html">Breadcrumbs</a></li>
              <li><a class="link-light pb-1 mb-1" href="buttons.html">Buttons</a></li>
              <li><a class="link-light pb-1 mb-1" href="cards.html">Cards</a></li>
              <li><a class="link-light pb-1 mb-1" href="carousel.html">Carousel</a></li>
              <li><a class="link-light pb-1 mb-1" href="chatbubble.html">Chat Bubble</a></li>
              <li><a class="link-light pb-1 mb-1" href="collapse.html">Collapse</a></li>
              <li><a class="link-light pb-1 mb-1" href="dropdown.html">Dropdown</a></li>
              <li><a class="link-light pb-1 mb-1" href="forms.html">Forms</a></li>
              <li><a class="link-light pb-1 mb-1" href="modal.html">Modal</a></li>
              <li><a class="link-light pb-1 mb-1" href="pagination.html">Pagination</a></li>
              <li><a class="link-light pb-1 mb-1" href="pickers.html">Pickers</a></li>
              <li><a class="link-light pb-1 mb-1" href="popover.html">Popover</a></li>
              <li><a class="link-light pb-1 mb-1" href="progress-bar.html">Progress Bar</a></li>
              <li><a class="link-light pb-1 mb-1" href="select.html">Select</a></li>
              <li><a class="link-light pb-1 mb-1" href="spinner.html">Spinner</a></li>
              <li><a class="link-light pb-1 mb-1" href="table.html">Table</a></li>
              <li><a class="link-light pb-1 mb-1" href="tabs.html">Tabs</a></li>
              <li><a class="link-light pb-1 mb-1" href="texteditor.html">Text Editor</a></li>
              <li><a class="link-light pb-1 mb-1" href="toasts.html">Toasts</a></li>
              <li><a class="link-light pb-1 mb-1" href="toggle.html">Toggle</a></li>
              <li><a class="link-light pb-1 mb-1" href="tooltips.html">Tooltips</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="content position-relative">

      <div class="header content-header py-2 px-4 d-flex align-items-center bg-white border-bottom">
        <div class="main-heading">
          <span class="fal fa-browser mr-1 float-left font-size-larger color-lime" aria-hidden="true"></span> <span class="font-style-uppercase font-size-smaller font-weight-bold float-left">Pickers</span>
        </div>
      </div>

      <div class="content-body p-4 bg-ice">

        <div class="content-body-inner row no-gutters p-4 bg-white">

          <div class="content-body-container col-9 pr-4">

            <section class="mb-5">

              <h2>Pickers</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </section>

            <section class="mb-5">

              <h2>Date Picker</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              <h3>Calendar Example</h3>

              <div class="form-date-picker mb-5">

                <div class="day-picker-input-overlay-wrapper position-relative" tabindex="0">
                  <div class="day-picker-input-overlay position-relative shadow bg-white" style="width: 288px">
                    <div class="day-picker d-inline-block" lang="en">
                      <div class="day-picker-wrapper position-relative pb-2" tabindex="0">
                        <div class="day-picker-nav-bar position-absolute">
                          <span tabindex="0" role="button" aria-label="Previous Month" class="day-picker-nav-button day-picker-nav-button--prev fas fa-caret-left d-inline-block mx-1"></span>
                          <span tabindex="0" role="button" aria-label="Next Month" class="day-picker-nav-button day-picker-nav-button--next fas fa-caret-right d-inline-block mx-1"></span>
                        </div>
                        <div class="day-picker-months d-flex justify-content-center flex-wrap">
                          <div class="day-picker-month d-table m-2" role="grid">
                            <div class="day-picker-caption px-1 mb-1 text-left" role="heading">
                              <div class="font-weight-medium font-size-small">November 2019</div>
                            </div>
                            <div class="day-picker-weekdays" role="rowgroup">
                              <div class="day-picker-weekdays-row d-table-row" role="row">
                                <div class="day-picker-weekday d-table-cell p-1 font-size-small text-center color-grey" role="columnheader">
                                  <abbr title="Sunday">Su</abbr>
                                </div>
                                <div class="day-picker-weekday d-table-cell p-1 font-size-small text-center color-grey" role="columnheader">
                                  <abbr title="Monday">Mo</abbr>
                                </div>
                                <div class="day-picker-weekday d-table-cell p-1 font-size-small text-center color-grey" role="columnheader">
                                  <abbr title="Tuesday">Tu</abbr>
                                </div>
                                <div class="day-picker-weekday d-table-cell p-1 font-size-small text-center color-grey" role="columnheader">
                                  <abbr title="Wednesday">We</abbr>
                                </div>
                                <div class="day-picker-weekday d-table-cell p-1 font-size-small text-center color-grey" role="columnheader">
                                  <abbr title="Thursday">Th</abbr>
                                </div>
                                <div class="day-picker-weekday d-table-cell p-1 font-size-small text-center color-grey" role="columnheader">
                                  <abbr title="Friday">Fr</abbr>
                                </div>
                                <div class="day-picker-weekday d-table-cell p-1 font-size-small text-center color-grey" role="columnheader">
                                  <abbr title="Saturday">Sa</abbr>
                                </div>
                              </div>
                            </div>
                            <div class="day-picker-body" role="rowgroup">
                              <div class="day-picker-week d-table-row" role="row">
                                <div aria-disabled="true" class="day-picker-day day-picker-day--outside d-table-cell align-middle text-center rounded-circle p-0">27</div>
                                <div aria-disabled="true" class="day-picker-day day-picker-day--outside d-table-cell align-middle text-center rounded-circle p-0">28</div>
                                <div aria-disabled="true" class="day-picker-day day-picker-day--outside d-table-cell align-middle text-center rounded-circle p-0">29</div>
                                <div aria-disabled="true" class="day-picker-day day-picker-day--outside d-table-cell align-middle text-center rounded-circle p-0">30</div>
                                <div aria-disabled="true" class="day-picker-day day-picker-day--outside d-table-cell align-middle text-center rounded-circle p-0">31</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="0" role="gridcell" aria-label="Fri Nov 01 2019" aria-disabled="false" aria-selected="false">1</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sat Nov 02 2019" aria-disabled="false" aria-selected="false">2</div>
                              </div>
                              <div class="day-picker-week d-table-row" role="row">
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sun Nov 03 2019" aria-disabled="false" aria-selected="false">3</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Mon Nov 04 2019" aria-disabled="false" aria-selected="false">4</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Tue Nov 05 2019" aria-disabled="false" aria-selected="false">5</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Wed Nov 06 2019" aria-disabled="false" aria-selected="false">6</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Thu Nov 07 2019" aria-disabled="false" aria-selected="false">7</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Fri Nov 08 2019" aria-disabled="false" aria-selected="false">8</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sat Nov 09 2019" aria-disabled="false" aria-selected="false">9</div>
                              </div>
                              <div class="day-picker-week d-table-row" role="row">
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sun Nov 10 2019" aria-disabled="false" aria-selected="false">10</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Mon Nov 11 2019" aria-disabled="false" aria-selected="false">11</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Tue Nov 12 2019" aria-disabled="false" aria-selected="false">12</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Wed Nov 13 2019" aria-disabled="false" aria-selected="false">13</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Thu Nov 14 2019" aria-disabled="false" aria-selected="false">14</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Fri Nov 15 2019" aria-disabled="false" aria-selected="false">15</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sat Nov 16 2019" aria-disabled="false" aria-selected="false">16</div>
                              </div>
                              <div class="day-picker-week d-table-row" role="row">
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sun Nov 17 2019" aria-disabled="false" aria-selected="false">17</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Mon Nov 18 2019" aria-disabled="false" aria-selected="false">18</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Tue Nov 19 2019" aria-disabled="false" aria-selected="false">19</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Wed Nov 20 2019" aria-disabled="false" aria-selected="false">20</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Thu Nov 21 2019" aria-disabled="false" aria-selected="false">21</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Fri Nov 22 2019" aria-disabled="false" aria-selected="false">22</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sat Nov 23 2019" aria-disabled="false" aria-selected="false">23</div>
                              </div>
                              <div class="day-picker-week d-table-row" role="row">
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sun Nov 24 2019" aria-disabled="false" aria-selected="false">24</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Mon Nov 25 2019" aria-disabled="false" aria-selected="false">25</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Tue Nov 26 2019" aria-disabled="false" aria-selected="false">26</div>
                                <div class="day-picker-day day-picker-day--today align-middle text-center rounded-circle p-0 font-weight-medium" tabindex="-1" role="gridcell" aria-label="Wed Nov 27 2019" aria-disabled="false" aria-selected="false">27</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Thu Nov 28 2019" aria-disabled="false" aria-selected="false">28</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Fri Nov 29 2019" aria-disabled="false" aria-selected="false">29</div>
                                <div class="day-picker-day d-table-cell align-middle text-center rounded-circle p-0" tabindex="-1" role="gridcell" aria-label="Sat Nov 30 2019" aria-disabled="false" aria-selected="false">30</div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="day-picker-footer">
                          <button type="button" tabindex="0" class="day-picker-today-button ml-2 border-0 font-size-smaller font-weight-medium" aria-label="Go to Today">Go to Today</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <h3>Input Field</h3>

              <div class="form-date-picker">

                <label for="datePicker">Choose a Date</label>
                <div class="date-input position-relative"><input type="input" class="form-control" id="datePicker" placeholder="00/00/0000"></div>

              </div>

            </section>

            <section class="mb-5">

              <h2>Time Picker</h2>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            </section>

          </div>

          <div class="content-sub-nav sticky-top col-3 pl-4 border-left">
            <h4 class="mb-2">Sections</h4>
            <ul class="list-unstyled">
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#"></a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

  </body>

</html>