<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gecko Engage Design System</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6a3bfb092.js"></script>

    <link rel="stylesheet" href="../css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">

  </head>

  <body class="body-grid">

    <div class="sidebar">

      <div class="header sidebar-header position-fixed p-2 d-flex justify-content-start bg-slate-darken-1">
        <div class="logo-container">
          <a href="../index.html"><img src="../img/gecko-styles.svg" style="width: 142px;"></a>
        </div>
      </div>

      <div class="sidebar-body position-relative">

        <ul class="main-nav list-unstyled mb-0 position-fixed bg-slate-darken-1">
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="../brand-guidelines/logos.html" data-toggle="tooltip" data-placement="right" title="Brand Guidelines">
                <span class="fal fa-palette" title="Brand Guidelines" aria-hidden="true"></span>
                <span class="sr-only">Brand Guidelines</span>
              </a>
            </li>
            <li class="active">
              <a class="link-light p-2 font-size-large border-left-transparent" href="../components/alerts.html" data-toggle="tooltip" data-placement="right" title="Components">
                <span class="fal fa-browser" title="Components" aria-hidden="true"></span>
                <span class="sr-only">Components</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="../utilities/utilities.html" data-toggle="tooltip" data-placement="right" title="Utilities">
                <span class="fal fa-wrench" title="Utilities" aria-hidden="true"></span>
                <span class="sr-only">Utilities</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large" href="" data-toggle="tooltip" data-placement="right" title="Download Sketch File">
                <span class="fal fa-download" title="Download Sketch File" aria-hidden="true"></span>
                <span class="sr-only">Download Sketch File</span>
              </a>
            </li>
        </ul>

        <div class="nav-container">

          <div class="nav-container-inner p-3">

            <span class="pb-1 mb-2 font-style-uppercase font-size-smaller font-weight-medium">Components</span>
            <ul class="list-unstyled m-0">
              <li><a class="link-light pb-1 mb-1" href="alerts.html">Alerts</a></li>
              <li><a class="link-light pb-1 mb-1" href="avatars.html">Avatars</a></li>
              <li><a class="link-light pb-1 mb-1" href="badges.html">Badges</a></li>
              <li><a class="link-light pb-1 mb-1" href="breadcrumbs.html">Breadcrumbs</a></li>
              <li><a class="link-light pb-1 mb-1" href="buttons.html">Buttons</a></li>
              <li><a class="link-light pb-1 mb-1" href="cards.html">Cards</a></li>
              <li><a class="link-light pb-1 mb-1" href="chatbubble.html">Chat Bubble</a></li>
              <li><a class="link-light pb-1 mb-1" href="collapse.html">Collapse</a></li>
              <li><a class="link-light pb-1 mb-1" href="dropdown.html">Dropdown</a></li>
              <li><a class="link-light pb-1 mb-1" href="forms.html">Forms</a></li>
              <li><a class="link-light pb-1 mb-1" href="modal.html">Modal</a></li>
              <li><a class="link-light pb-1 mb-1" href="pagination.html">Pagination</a></li>
              <li><a class="link-light pb-1 mb-1" href="pickers.html">Pickers</a></li>
              <li><a class="link-light pb-1 mb-1" href="popover.html">Popover</a></li>
              <li><a class="link-light pb-1 mb-1" href="progress-bar.html">Progress Bar</a></li>
              <li><a class="link-light pb-1 mb-1" href="select.html">Select</a></li>
              <li><a class="link-light pb-1 mb-1" href="spinner.html">Spinner</a></li>
              <li><a class="link-light pb-1 mb-1" href="table.html">Table</a></li>
              <li><a class="link-light pb-1 mb-1" href="tabs.html">Tabs</a></li>
              <li><a class="link-light pb-1 mb-1" href="texteditor.html">Text Editor</a></li>
              <li><a class="link-light pb-1 mb-1" href="toasts.html">Toasts</a></li>
              <li><a class="link-light pb-1 mb-1" href="toggle.html">Toggle</a></li>
              <li><a class="link-light pb-1 mb-1" href="tooltips.html">Tooltips</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="content position-relative">

      <div class="header content-header py-2 px-4 d-flex align-items-center bg-white border-bottom">
        <div class="main-heading">
          <span class="fal fa-browser mr-1 float-left font-size-larger color-lime" aria-hidden="true"></span> <span class="font-style-uppercase font-size-smaller font-weight-bold float-left">Popover</span>
        </div>
      </div>

      <div class="content-body p-4 bg-ice">

        <div class="content-body-inner row no-gutters p-4 bg-white">

          <div class="content-body-container col-xl-9 pr-4">

            <section class="mb-5">

              <h2 id="popover-basic">Basic Popover</h2>

              <p>A popover is a non-modal dialog. The component should be paired with a clickable trigger element. Popovers are useful when guiding users through new features or providing a walkthrough.</p>

                <div class="popover popover-example bs-popover-right rounded bg-white shadow p-2">
                  <div class="arrow"></div>
                  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
                    <h4 class="m-0">Popover Heading</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="far fa-times"></span>
                    </button>
                  </div>
                  <div class="popover-body font-size-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed libero aliquam lorem posuere suscipit eu hendrerit ipsum. Sed neque velit, placerat nec lorem id, vestibulum tincidunt enim. Vivamus at velit lorem.
                  </div>
                </div>

<!-- CODE SNIPPET -->
<!-- <figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="popover rounded bg-white shadow p-2">
  <div class="arrow"></div>
  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
    <h4 class="m-0">...</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="far fa-times"></span>
    </button>
  </div>
  <div class="popover-body font-size-small">
    ...
  </div>
</div>
</code></pre>
</figure> -->

            </section>

            <section class="mb-5">

              <h2 id="popover-walkthrough">Popover Walkthrough</h2>

              <p>If the function of the popover is to walk a client through a feature then the popover should contain a navigation footer.</p>

                <div class="popover popover-example bs-popover-right rounded bg-white shadow p-2">
                  <div class="arrow"></div>
                  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
                    <h4 class="m-0">Popover Heading</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span class="far fa-times"></span>
                    </button>
                  </div>
                  <div class="popover-body font-size-small">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed libero aliquam lorem posuere suscipit eu hendrerit ipsum. Sed neque velit, placerat nec lorem id, vestibulum tincidunt enim. Vivamus at velit lorem.
                  </div>
                  <div class="popover-footer pt-2 mt-2 border-top">
                    <div class="pagination-container d-flex justify-content-between align-items-center">
                      <div class="popover-steps font-size-smallest" aria-label="step-number">
                        Step 1 of 4
                      </div>
                      <div class="popover-btns" aria-label="step-buttons">
                        <a class="btn btn-naked btn-sm" href="#" aria-label="Skip">
                          Skip
                        </a>
                        <a class="btn btn-primary btn-sm" href="#" aria-label="Next Step">
                          Next
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

<!-- CODE SNIPPET -->
<!-- <figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="popover rounded bg-white shadow p-2">
  <div class="arrow"></div>
  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
    <h4 class="m-0">...</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="far fa-times"></span>
    </button>
  </div>
  <div class="popover-body font-size-small">
    ...
  </div>
  <div class="popover-footer pt-2 mt-2 border-top">
    <div class="pagination-container d-flex justify-content-between align-items-center">
      <div class="popover-steps font-size-smallest" aria-label="step-number">
        ...
      </div>
      <div class="popover-btns" aria-label="step-buttons">
        <a class="btn btn-naked btn-sm" href="#" aria-label="Skip">
          ...
        </a>
        <a class="btn btn-primary btn-sm" href="#" aria-label="Next Step">
          ...
        </a>
      </div>
    </div>
  </div>
</div>
</code></pre>
</figure> -->

            </section>

            <section class="mb-5">

              <h2 id="popover-placement">Placement</h2>

              <p>Four options are available: top, right, bottom, and left aligned.</p>

              <h3>Top</h3>

              <div class="popover popover-example bs-popover-top rounded bg-white shadow p-2 mb-5">
                <div class="arrow"></div>
                <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
                  <h4 class="m-0">Popover Top</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="far fa-times"></span>
                  </button>
                </div>
                <div class="popover-body font-size-small">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed libero aliquam lorem posuere suscipit eu hendrerit ipsum. Sed neque velit, placerat nec lorem id, vestibulum tincidunt enim. Vivamus at velit lorem.
                </div>
              </div>

<!-- CODE SNIPPET -->
<!-- <figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="popover bs-popover-top rounded bg-white shadow p-2">
  <div class="arrow"></div>
  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
    <h4 class="m-0">...</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="far fa-times"></span>
    </button>
  </div>
  <div class="popover-body font-size-small">
    ...
  </div>
</div>
</code></pre>
</figure> -->

              <h3>Right</h3>

              <div class="popover popover-example bs-popover-right rounded bg-white shadow p-2 mb-5">
                <div class="arrow"></div>
                <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
                  <h4 class="m-0">Popover Right</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="far fa-times"></span>
                  </button>
                </div>
                <div class="popover-body font-size-small">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed libero aliquam lorem posuere suscipit eu hendrerit ipsum. Sed neque velit, placerat nec lorem id, vestibulum tincidunt enim. Vivamus at velit lorem.
                </div>
              </div>

<!-- CODE SNIPPET -->
<!-- <figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="popover bs-popover-right rounded bg-white shadow p-2">
  <div class="arrow"></div>
  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
    <h4 class="m-0">...</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="far fa-times"></span>
    </button>
  </div>
  <div class="popover-body font-size-small">
    ...
  </div>
</div>
</code></pre>
</figure> -->

              <h3>Bottom</h3>

              <div class="popover popover-example bs-popover-bottom rounded bg-white shadow p-2 mb-5">
                <div class="arrow"></div>
                <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
                  <h4 class="m-0">Popover Bottom</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="far fa-times"></span>
                  </button>
                </div>
                <div class="popover-body font-size-small">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed libero aliquam lorem posuere suscipit eu hendrerit ipsum. Sed neque velit, placerat nec lorem id, vestibulum tincidunt enim. Vivamus at velit lorem.
                </div>
              </div>

<!-- CODE SNIPPET -->
<!-- <figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="popover bs-popover-bottom rounded bg-white shadow p-2">
  <div class="arrow"></div>
  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
    <h4 class="m-0">...</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="far fa-times"></span>
    </button>
  </div>
  <div class="popover-body font-size-small">
    ...
  </div>
</div>
</code></pre>
</figure> -->

              <h3>Left</h3>

              <div class="popover popover-example bs-popover-left rounded bg-white shadow p-2">
                <div class="arrow"></div>
                <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
                  <h4 class="m-0">Popover Left</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="far fa-times"></span>
                  </button>
                </div>
                <div class="popover-body font-size-small">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed libero aliquam lorem posuere suscipit eu hendrerit ipsum. Sed neque velit, placerat nec lorem id, vestibulum tincidunt enim. Vivamus at velit lorem.
                </div>
              </div>

<!-- CODE SNIPPET -->
<!-- <figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="popover bs-popover-left rounded bg-white shadow p-2">
  <div class="arrow"></div>
  <div class="popover-header mb-2 pb-2 border-bottom d-flex justify-content-between align-items-center">
    <h4 class="m-0">...</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="far fa-times"></span>
    </button>
  </div>
  <div class="popover-body font-size-small">
    ...
  </div>
</div>
</code></pre>
</figure> -->

            </section>

          </div>

          <div class="content-sub-nav sticky-top d-none d-xl-block col-xl-3 pl-4 border-left">
            <h4 class="mb-2">Sections</h4>
            <ul class="list-unstyled">
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#popover-basic">Basic Popover</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#popover-walkthrough">Walkthrough Popover</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#popover-placement">Placement</a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../js/code.min.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      $(function(){
        $("[data-toggle=popover]").popover({
            html : true,
            content: function() {
              var content = $(this).attr("data-popover-content");
              return $(content).children(".popover-body").html();
            },
            title: function() {
              var title = $(this).attr("data-popover-content");
              return $(title).children(".popover-header").html();
            }
        });
      });
    </script>

  </body>

</html>