<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gecko Engage Design System</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6a3bfb092.js"></script>

    <link rel="stylesheet" href="../css/app.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon-16x16.png">

  </head>

  <body class="body-grid">

    <div class="sidebar">

      <div class="header sidebar-header position-fixed p-2 d-flex justify-content-start bg-slate-darken-1">
        <div class="logo-container">
          <a href="../index.html"><img src="../img/gecko-styles.svg" style="width: 142px;"></a>
        </div>
      </div>

      <div class="sidebar-body position-relative">

        <ul class="main-nav list-unstyled mb-0 position-fixed bg-slate-darken-1">
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="../brand-guidelines/logos.html" data-toggle="tooltip" data-placement="right" title="Brand Guidelines">
                <span class="fal fa-palette" title="Brand Guidelines" aria-hidden="true"></span>
                <span class="sr-only">Brand Guidelines</span>
              </a>
            </li>
            <li class="active">
              <a class="link-light p-2 font-size-large border-left-transparent" href="../components/alerts.html" data-toggle="tooltip" data-placement="right" title="Components">
                <span class="fal fa-browser" title="Components" aria-hidden="true"></span>
                <span class="sr-only">Components</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large border-left-transparent" href="../utilities/utilities.html" data-toggle="tooltip" data-placement="right" title="Utilities">
                <span class="fal fa-wrench" title="Utilities" aria-hidden="true"></span>
                <span class="sr-only">Utilities</span>
              </a>
            </li>
            <li>
              <a class="link-light p-2 font-size-large" href="" data-toggle="tooltip" data-placement="right" title="Download Sketch File">
                <span class="fal fa-download" title="Download Sketch File" aria-hidden="true"></span>
                <span class="sr-only">Download Sketch File</span>
              </a>
            </li>
        </ul>

        <div class="nav-container">

          <div class="nav-container-inner p-3">

            <span class="pb-1 mb-2 font-style-uppercase font-size-smaller font-weight-medium">Components</span>
            <ul class="list-unstyled m-0">
              <li><a class="link-light pb-1 mb-1" href="alerts.html">Alerts</a></li>
              <li><a class="link-light pb-1 mb-1" href="avatars.html">Avatars</a></li>
              <li><a class="link-light pb-1 mb-1" href="badges.html">Badges</a></li>
              <li><a class="link-light pb-1 mb-1" href="breadcrumbs.html">Breadcrumbs</a></li>
              <li><a class="link-light pb-1 mb-1" href="buttons.html">Buttons</a></li>
              <li><a class="link-light pb-1 mb-1" href="cards.html">Cards</a></li>
              <li><a class="link-light pb-1 mb-1" href="chatbubble.html">Chat Bubble</a></li>
              <li><a class="link-light pb-1 mb-1" href="collapse.html">Collapse</a></li>
              <li><a class="link-light pb-1 mb-1" href="dropdown.html">Dropdown</a></li>
              <li><a class="link-light pb-1 mb-1" href="forms.html">Forms</a></li>
              <li><a class="link-light pb-1 mb-1" href="modal.html">Modal</a></li>
              <li><a class="link-light pb-1 mb-1" href="pagination.html">Pagination</a></li>
              <li><a class="link-light pb-1 mb-1" href="pickers.html">Pickers</a></li>
              <li><a class="link-light pb-1 mb-1" href="popover.html">Popover</a></li>
              <li><a class="link-light pb-1 mb-1" href="progress-bar.html">Progress Bar</a></li>
              <li><a class="link-light pb-1 mb-1" href="select.html">Select</a></li>
              <li><a class="link-light pb-1 mb-1" href="spinner.html">Spinner</a></li>
              <li><a class="link-light pb-1 mb-1" href="table.html">Table</a></li>
              <li><a class="link-light pb-1 mb-1" href="tabs.html">Tabs</a></li>
              <li><a class="link-light pb-1 mb-1" href="texteditor.html">Text Editor</a></li>
              <li><a class="link-light pb-1 mb-1" href="toasts.html">Toasts</a></li>
              <li><a class="link-light pb-1 mb-1" href="toggle.html">Toggle</a></li>
              <li><a class="link-light pb-1 mb-1" href="tooltips.html">Tooltips</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="content position-relative">

      <div class="header content-header py-2 px-4 d-flex align-items-center bg-white border-bottom">
        <div class="main-heading">
          <span class="fal fa-browser mr-1 float-left font-size-larger color-lime" aria-hidden="true"></span> <span class="font-style-uppercase font-size-smaller font-weight-bold float-left">Text Editor</span>
        </div>
      </div>

      <div class="content-body p-4 bg-ice">

        <div class="content-body-inner row no-gutters p-4 bg-white">

          <div class="content-body-container col-xl-9 pr-4">

            <section class="mb-5">

              <h2 id="text-editor-about">About Text Editors</h2>

              <p>A text editor is a textarea with added capabilities for use in various scenarios - mainly, when we allow the user to customise text, such as modifying font weights, styles etc.</p>

            </section>

            <section class="mb-5">

              <h2 id="text-editor-default">Default Editor</h2>

              <p>The default rich text editor contains minimal editing capabilities. All icons should contain a tooltip to aid usability.</p>

              <div class="reply-box rounded border p-2">

                <div class="reply-box-toolbar bg-fog p-1 mb-3">

                  <ul class="list-inline m-0">
                    <li><span class="far fa-bold" data-toggle="tooltip" data-placement="bottom" title="Bold"></span></li>
                    <li><span class="far fa-italic" data-toggle="tooltip" data-placement="bottom" title="Italic"></span></li>
                    <li><span class="far fa-underline" data-toggle="tooltip" data-placement="bottom" title="Underline"></span></li>
                    <li><span class="far fa-strikethrough" data-toggle="tooltip" data-placement="bottom" title="Strikethrough"></span></li>
                    <li><span class="far fa-list-ol" data-toggle="tooltip" data-placement="bottom" title="Ordered list"></span></li>
                    <li><span class="far fa-list-ul" data-toggle="tooltip" data-placement="bottom" title="Unordered list"></span></li>
                    <li><span class="far fa-indent" data-toggle="tooltip" data-placement="bottom" title="Text indent"></span></li>
                    <li><span class="far fa-outdent" data-toggle="tooltip" data-placement="bottom" title="Text outdent"></span></li>
                    <li><span class="far fa-link" data-toggle="tooltip" data-placement="bottom" title="Link"></span></li>
                    <li><span class="far fa-unlink" data-toggle="tooltip" data-placement="bottom" title="Unlink"></span></li>
                  </ul>

                </div>

                <div class="reply-box-editor">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget enim vel tortor eleifend posuere. Curabitur quis libero nulla. Phasellus sit amet sodales neque. Nunc pretium congue massa, maximus posuere elit tristique suscipit. Duis vitae metus ut orci pharetra commodo. Maecenas nisl mauris, elementum et placerat a, feugiat sit amet arcu.
                </div>

              </div>

            </section>

            <section class="mb-5">

              <h2 id="text-editor-controls">Editor with Controls</h2>

              <p>An editor with controls allows you to change the purpose of the editor or extend the editor. For example, upload an attachment or create a mail merge tag.</p>

              <div class="reply-box rounded border p-2">

                <div class="reply-box-toolbar bg-fog p-1 mb-3">

                  <ul class="list-inline m-0">
                    <li><span class="far fa-bold" data-toggle="tooltip" data-placement="bottom" title="Bold"></span></li>
                    <li><span class="far fa-italic" data-toggle="tooltip" data-placement="bottom" title="Italic"></span></li>
                    <li><span class="far fa-underline" data-toggle="tooltip" data-placement="bottom" title="Underline"></span></li>
                    <li><span class="far fa-strikethrough" data-toggle="tooltip" data-placement="bottom" title="Strikethrough"></span></li>
                    <li><span class="far fa-list-ol" data-toggle="tooltip" data-placement="bottom" title="Ordered list"></span></li>
                    <li><span class="far fa-list-ul" data-toggle="tooltip" data-placement="bottom" title="Unordered list"></span></li>
                    <li><span class="far fa-indent" data-toggle="tooltip" data-placement="bottom" title="Text indent"></span></li>
                    <li><span class="far fa-outdent" data-toggle="tooltip" data-placement="bottom" title="Text outdent"></span></li>
                    <li><span class="far fa-link" data-toggle="tooltip" data-placement="bottom" title="Link"></span></li>
                    <li><span class="far fa-unlink" data-toggle="tooltip" data-placement="bottom" title="Unlink"></span></li>
                  </ul>

                </div>

                <div class="reply-box-editor">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget enim vel tortor eleifend posuere. Curabitur quis libero nulla. Phasellus sit amet sodales neque. Nunc pretium congue massa, maximus posuere elit tristique suscipit. Duis vitae metus ut orci pharetra commodo. Maecenas nisl mauris, elementum et placerat a, feugiat sit amet arcu.
                </div>

                <div class="reply-box-controls mt-3">

                  <ul class="list-inline m-0">
                    <li><span class="far fa-sticky-note" data-toggle="tooltip" data-placement="top" title="Add a note"></span></li>
                    <li><span class="far fa-paperclip" data-toggle="tooltip" data-placement="top" title="Upload a file"></span></li>
                    <li><span class="far fa-download" data-toggle="tooltip" data-placement="top" title="Download conversation"></span></li>
                    <li><span class="far fa-bookmark" data-toggle="tooltip" data-placement="top" title="Add a bookmark"></span></li>
                    <li><span class="far fa-id-card" data-toggle="tooltip" data-placement="top" title="Mailmerge tag builder"></span></li>
                  </ul>

                </div>

              </div>

            </section>

            <section class="mb-5">

              <h2 id="text-editor-conversation">Conversation Editor</h2>

              <p>Chat conversation editors work in a similar fashion, however channels are displayed in place of editing tools by default and the border removed.</p>

              <div class="reply-box rounded border p-2">

                <div class="reply-box-channels mb-3">

                  <ul class="list-inline font-weight-bold position-relative m-0">
                    <li class="single-channel mr-3 active"><span>Live Chat</span></li>
                    <li class="single-channel mr-3"><span>Email</span></li>
                  </ul>

                </div>

                <div class="reply-box-editor">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget enim vel tortor eleifend posuere. Curabitur quis libero nulla. Phasellus sit amet sodales neque. Nunc pretium congue massa, maximus posuere elit tristique suscipit. Duis vitae metus ut orci pharetra commodo. Maecenas nisl mauris, elementum et placerat a, feugiat sit amet arcu.
                </div>

                <div class="reply-box-controls d-flex justify-content-between align-items-center mt-3">

                  <ul class="list-inline m-0">
                    <li><span class="far fa-sticky-note" data-toggle="tooltip" data-placement="top" title="Add a note"></span></li>
                    <li><span class="far fa-paperclip" data-toggle="tooltip" data-placement="top" title="Upload a file"></span></li>
                    <li><span class="far fa-download" data-toggle="tooltip" data-placement="top" title="Download conversation"></span></li>
                    <li><span class="far fa-bookmark" data-toggle="tooltip" data-placement="top" title="Add a bookmark"></span></li>
                    <li><span class="far fa-id-card" data-toggle="tooltip" data-placement="top" title="Mailmerge tag builder"></span></li>
                  </ul>

                  <button type="button" class="btn btn-sm btn-primary">Send</button>

                </div>

              </div>

            </section>

          </div>

          <div class="content-sub-nav sticky-top d-none d-xl-block col-xl-3 pl-4 border-left">
            <h4 class="mb-2">Sections</h4>
            <ul class="list-unstyled">
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#text-editor-about">About Text Editors</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#text-editor-default">Default Text Editors</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#text-editor-controls">Editor with Controls</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#text-editor-conversation">Conversation Editor</a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

  </body>

</html>