<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gecko Engage Design System</title>

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c6a3bfb092.js"></script>

    <link rel="stylesheet" href="../css/app.css">

  </head>

  <body class="body-grid">

    <div class="sidebar">

      <div class="header sidebar-header position-fixed p-2 d-flex justify-content-start bg-slate-darken-1">
        <div class="logo-container">
          <img src="../img/gecko-styles.svg" style="width: 142px;">
        </div>
      </div>

      <div class="sidebar-body position-relative">

        <ul class="main-nav list-unstyled mb-0 position-fixed bg-slate-darken-1">
            <li><a class="link-light p-2 font-size-large border-left-transparent" href="../brand-guidelines/logos.html" data-toggle="tooltip" data-placement="right" title="Brand Guidelines"><span class="fal fa-palette"></span></a></li>
            <li class="active"><a class="link-light p-2 font-size-large border-left-transparent" href="../components/collapse.html" data-toggle="tooltip" data-placement="right" title="Components"><span class="fal fa-browser"></span></a></li>
            <li><a class="link-light p-2 font-size-large border-left-transparent" href="../system/collapse.html" data-toggle="tooltip" data-placement="right" title="System"><span class="fal fa-cogs"></span></a></li>
            <li><a class="link-light p-2 font-size-large border-left-transparent" href="../utilities/collapse.html" data-toggle="tooltip" data-placement="right" title="Utilities"><span class="fal fa-wrench"></span></a></li>
            <li><a class="link-light p-2 font-size-large" href="" data-toggle="tooltip" data-placement="right" title="Download Sketch File"><span class="fal fa-download"></span></a></li>
        </ul>

        <div class="nav-container">

          <div class="nav-container-inner p-3">

            <span class="pb-1 mb-2 font-style-uppercase font-size-smaller font-weight-medium">Components</span>
            <ul class="list-unstyled m-0">
              <li><a class="link-light pb-1 mb-1" href="alerts.html">Alerts</a></li>
              <li><a class="link-light pb-1 mb-1" href="avatars.html">Avatars</a></li>
              <li><a class="link-light pb-1 mb-1" href="breadcrumbs.html">Breadcrumbs</a></li>
              <li><a class="link-light pb-1 mb-1" href="buttons.html">Buttons</a></li>
              <li><a class="link-light pb-1 mb-1" href="cards.html">Cards</a></li>
              <li><a class="link-light pb-1 mb-1" href="carousel.html">Carousel</a></li>
              <li><a class="link-light pb-1 mb-1" href="chatbubble.html">Chat Bubble</a></li>
              <li><a class="link-light pb-1 mb-1" href="collapse.html">Collapse</a></li>
              <li><a class="link-light pb-1 mb-1" href="dropdown.html">Dropdown</a></li>
              <li><a class="link-light pb-1 mb-1" href="forms.html">Forms</a></li>
              <li><a class="link-light pb-1 mb-1" href="modal.html">Modal</a></li>
              <li><a class="link-light pb-1 mb-1" href="pagination.html">Pagination</a></li>
              <li><a class="link-light pb-1 mb-1" href="pickers.html">Pickers</a></li>
              <li><a class="link-light pb-1 mb-1" href="popover.html">Popover</a></li>
              <li><a class="link-light pb-1 mb-1" href="preloader.html">Preloader</a></li>
              <li><a class="link-light pb-1 mb-1" href="progress-bar.html">Progress Bar</a></li>
              <li><a class="link-light pb-1 mb-1" href="select.html">Select</a></li>
              <li><a class="link-light pb-1 mb-1" href="table.html">Table</a></li>
              <li><a class="link-light pb-1 mb-1" href="tabs.html">Tabs</a></li>
              <li><a class="link-light pb-1 mb-1" href="tags.html">Tags</a></li>
              <li><a class="link-light pb-1 mb-1" href="texteditor.html">Text Editor</a></li>
              <li><a class="link-light pb-1 mb-1" href="toasts.html">Toasts</a></li>
              <li><a class="link-light pb-1 mb-1" href="toggle.html">Toggle</a></li>
              <li><a class="link-light pb-1 mb-1" href="tooltips.html">Tooltips</a></li>
            </ul>

          </div>

        </div>

      </div>

    </div>

    <div class="content position-relative">

      <div class="header content-header py-2 px-4 d-flex align-items-center bg-white border-bottom">
        <div class="main-heading">
          <span class="fal fa-browser mr-1 float-left font-size-larger color-lime"></span> <span class="font-style-uppercase font-size-smaller font-weight-bold float-left">Toggle</span>
        </div>
      </div>

      <div class="content-body p-4 bg-ice">

        <div class="content-body-inner row no-gutters p-4 bg-white">

          <div class="content-body-container col-9 pr-4">

            <section class="mb-5">

              <h2 id="toggle-when">When to Use</h2>

              <p>Toggles are a quick way to view and switch between enabled or disabled states.</p>

              <p>Use Toggle switch when:</p>

              <ul>
                <li>An instant response of applied settings is required without an explicit action.</li>
                <li>A setting requires an on/off or show/hide function to display the results.</li>
                <li>User needs to perform instantaneous actions that do not need a review or confirmation.</li>
              </ul>

            </section>

            <section class="mb-5">

              <h2 id="toggle-example">Toggle Example</h2>

              <p>Below is an example of a default toggle.</p>

              <div class="toggle">
                <input type="checkbox" class="toggle-input" id="toggle-switch">
                <label class="toggle-label" for="toggle-switch"></label>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="toggle">
  <input type="checkbox" class="toggle-input" id="toggle-switch">
  <label class="toggle-label" for="toggle-switch"></label>
</div>
</code></pre>
</figure>

            </section>

            <section class="mb-5">

              <h2 id="toggle-sizing">Sizing</h2>

              <p>For standard toggles or pages with lots of toggles, use the default version. To call attention to a specific action, choose the larger version.</p>

              <h3>Large toggle</h3>

              <div class="toggle toggle-large">
                <input type="checkbox" class="toggle-input" id="toggle-switch-2">
                <label class="toggle-label" for="toggle-switch-2"></label>
              </div>

<!-- CODE SNIPPET -->
<figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="toggle toggle-large">
  <input type="checkbox" class="toggle-input" id="toggle-switch">
  <label class="toggle-label" for="toggle-switch"></label>
</div>
</code></pre>
</figure>

            </section>

            <section class="mb-5">

                <h2 id="toggle-disabled">Disabled Toggle</h2>
  
                <p>A toggle is disabled when a selection has already been made outside of the current context that negates the need for the toggle.</p>
  
                <div class="toggle">
                  <input type="checkbox" disabled class="toggle-input" id="toggle-switch-3">
                  <label class="toggle-label" for="toggle-switch-3"></label>
                </div>
  
<!-- CODE SNIPPET -->
<figure class="highlight mb-5 mt-5">
<pre><code data-language="html"><div class="toggle">
  <input type="checkbox" disabled class="toggle-input" id="toggle-switch">
  <label class="toggle-label" for="toggle-switch"></label>
</div>
</code></pre>
</figure>
  
              </section>

          </div>

          <div class="content-sub-nav sticky-top col-3 pl-4 border-left">
            <h4 class="mb-2">Sections</h4>
            <ul class="list-unstyled">
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#toggle-when">When to Use</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#toggle-example">Example</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#toggle-sizing">Sizing</a></li>
              <li><a class="link-dark mb-1 pb-1 border-bottom font-size-smaller" href="#toggle-disabled">Disabled</a></li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/code.min.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

  </body>

</html>